h3 About the Group
p
  | <strong>lightningthieves</strong> is a&nbsp;
  a(href='http://litecoin.org/', title='A Bitcoin derivative.')
    | Litecoin
  |  mining group on&nbsp;
  a(href='http://ltc.kattare.com/', title='Great pool; 0% fees!')
    | burnside's pool
  | , operating since mid-April 2013. Currently, we're running a 7970,
  | hashing at around 630 kh/s.
