div(ng-controller='ConnCtrl')
  h3 Connection Status
  div(class='alert alert-{{alert_type}}')
    strong {{alert_head}}
    |  {{alert_mesg}}
  ng-pluralize(count='connection_count', when='connection_when')
