div(ng-controller='ConnCtrl')
  h3 Connection Status
  div(class='alert alert-error', ng-show='init && conn_err()')
    strong Error!
    |  The connection could not be established.
  div(class='alert alert-success', ng-show='init && connected()')
    strong Connected.
    |  The page should function normally.
  ng-pluralize(count='connection_count', when='connection_when')
