div(ng-controller='FetchCtrl')
  h3 Exchange Rates
  table(class='table table-bordered table-condensed centered-headings')
    thead
      tr
        th(ng-click='convert = convertLTC') LTCLTC
          br
          span.sub-header Always
        th(ng-click='convert = convertBTCeBTC') LTCBTC
          br
          span.sub-header BTC-e
        th(ng-click='convert = convertBTCeUSD') LTCUSD
          br
          span.sub-header BTC-e
        th(ng-click='convert = convertMtGoxUSD') BTCUSD
          br
          span.sub-header MtGox
    tbody
      tr
        td 1
        td {{ news.btce_ltcbtc.ticker.last | number:4 }}
        td {{ news.btce_ltcusd.ticker.last | number:4 }}
        td {{ news.mtgox_btcusd.data.last_local.value | number:4 }}

  h3 Pool Rewards
  table(class='table table-bordered table-condensed centered-headings')
    thead
      tr
        th Confirmed Rewards
          br
          span.sub-header {{ currency }}
        th Estimated Rewards
          br
          span.sub-header {{ currency }}
        th Payout History
          br
          span.sub-header {{ currency }}
      tbody
        tr
          td {{ convert(news.ktr.confirmed_rewards) | number:4 }}
          td {{ convert(news.ktr.estimated_rewards) | number:4 }}
          td {{ convert(news.ktr.payout_history) | number:4 }}

  h3 Mining

  div(class='alert alert-{{alert_type}}')
    strong {{alert_head}}
    |  {{alert_mesg}}

  table(class='table table-bordered table-condensed centered-headings')
    thead
      tr
        th Hash Rate
          br
          span.sub-header Est - kh/s
        th Difficulty
          br
          &nbsp;
        th Weekly Income
          br
          span.sub-header Est - {{ currency }}
    tbody
      tr
        td {{ news.ktr.hashrate | number:2 }}
        td {{ news.gml_api.difficulty | number:2 }}
        td {{ convert(weekly_income) | number:4 }}

  table(class='table well')
    tr
      th Update:
      td {{ last_news_time | date: 'HH:mm:ss' }}
      td
        a(href='#', class='btn btn-mini', ng-click='update()') Request
    tr
      th Fetch:
      td {{ news.last_fetch_time | date: 'HH:mm:ss' }}
      td
        a(href='#', class='btn btn-inverse btn-mini', ng-click='fetch()') Request
