extends layout

block head
  title lightningthieves mining status
block append stylesheets
    link(rel='stylesheet', href='/css/main.css')
block append scripts
    script(src='/js/controllers.js')
block content
  h1 "lightningthieves" Mining Status Center
  div.row
    div.span4
      include includes/exchange
    div.span4
      include includes/reward
    div.span4
      include includes/mining
  div.row
    div.span8
      div.row
        div.span4
          include includes/connection
          include includes/update
        div.span4
          include includes/about
    div.span4
      include includes/chat
