!!!
html(ng-app="lightningthieves")

  head
    meta(charset='utf-8')
    title lightningthieves

    script(src='/vendor/js/angular.min.js')
    script(src='/vendor/js/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')

    script(src='/js/app.js')
    script(src='/js/services.js')
    script(src='/js/controllers.js')

    link(rel='stylesheet', href='/vendor/css/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/main.css')

  body

    div.container
      h1 lightningthieves Mining Status Center

      div.row
        div.span3(ng-controller='FetchCtrl')
          h3 Exchange Rates
          table(class='table table-bordered table-condensed centered-headings')
            thead
              tr
                th(ng-click='convert = convertLTC')
                  | LTCLTC
                  br
                  span.sub-header Always
                th(ng-click='convert = convertBTCeBTC')
                  | LTCBTC
                  br
                  span.sub-header BTC-e
                th(ng-click='convert = convertBTCeUSD')
                  | LTCUSD
                  br
                  span.sub-header BTC-e
                th(ng-click='convert = convertMtGoxUSD')
                  | BTCUSD
                  br
                  span.sub-header MtGox
            tbody
              tr
                td 1
                td {{ news.btce_ltcbtc.ticker.last | number:4 }}
                td {{ news.btce_ltcusd.ticker.last | number:4 }}
                td {{ news.mtgox_btcusd.data.last_local.value | number:4 }}

          h3 Pool Rewards
          table(class='table table-bordered table-condensed centered-headings')
            thead
              tr
                th
                  | Confirmed Rewards
                  br
                  span.sub-header {{ currency }}
                th
                  | Estimated Rewards
                  br
                  span.sub-header {{ currency }}
                th
                  | Payout History
                  br
                  span.sub-header {{ currency }}
              tbody
                tr
                  td {{ convert(news.ktr.confirmed_rewards) | number:4 }}
                  td {{ convert(news.ktr.estimated_rewards) | number:4 }}
                  td {{ convert(news.ktr.payout_history) | number:4 }}

          h3 Mining

          div(class='alert alert-error', ng-hide='!init || running()')
            strong Error!
            |  The mining rig is down!
          div(class='alert alert-success', ng-hide='!init || !running()')
            strong Hurray!
            |  The mining rig is running!

          table(class='table table-bordered table-condensed centered-headings')
            thead
              tr
                th
                  | Hash Rate
                  br
                  span.sub-header Est - kh/s
                th
                  | Difficulty
                  br
                  &nbsp;
                th
                  | Weekly Income
                  br
                  span.sub-header Est - {{ currency }}
            tbody
              tr
                td {{ news.ktr.hashrate | number:2 }}
                td {{ news.gml_api.difficulty | number:2 }}
                td {{ convert(weekly_income) | number:4 }}

          table(class='table-condensed')
            tr
              th(ng-click='update()') Update:
              td {{ last_news_time | date: 'HH:mm:ss' }}
            tr
              th(ng-click='fetch()') Fetch:
              td {{ news.last_fetch_time | date: 'HH:mm:ss' }}

        div.span6
          h2 About
          p Blah blah blah.

          h2 Details
          p Lorem ipsum...

        div.span3(ng-controller='ChatCtrl')
          h3 Chat
          form(ng-submit='chat()')
            input(type='text', ng-model='msg', placeholder='Have something to say?')
          ul.unstyled
            li(ng-repeat='line in chat_lines')
              p
                strong {{ line.sender }}
                | : {{ line.msg }}
