.sub-header {
  font-size: xx-small;
}

table.centered-headings th {
  text-align: center;
}

h1 {
  text-align: center;
}

p.chat-line {
  margin-bottom: 0;
}

.centered {
  text-align: center !important;
}
